version: '3.8'
services:
  mssql:
    platform: linux/amd64   # ✅ Apple Silicon
    image: mcr.microsoft.com/azure-sql-edge
    container_name: mssql
    environment:
      MSSQL_SA_PASSWORD: "Myp@ssw0rd#2025"
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
    volumes:
      - mssql-data:/var/opt/mssql   # ✅ Persist database

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  app:
    build: .
    depends_on:
      - mssql
      - redis
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:sqlserver://mssql:1433;databaseName=gadgetdb;encrypt=false
      - SPRING_DATASOURCE_USERNAME=sa
      - SPRING_DATASOURCE_PASSWORD=Myp@ssw0rd#2025
volumes:
  mssql-data:
