spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  cache:
    type: redis
  data:
    redis:
      host: redis
      port: 6379
      timeout: 2000
  app:
    jwt:
      secret: "change-me-to-a-very-long-random-string-at-least-32-chars"
      expiration-ms: 3600000
  sql:
    init:
      mode: always
      continue-on-error: true
